html{
    background-color: rgb(238, 246, 247);
    font-family: 'Poppins', sans-serif;
}
#startup-state{
    top:10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:darkslategray;
}

h1{
    font-family: 'IBM Plex Mono', monospace;
}

#game-state{
    top:10vh;
    display:flex;
    flex-direction: column;
    align-items:center;
}

#words{
    display:flex;
    flex-wrap: wrap;
    width:80vw;
    justify-content: center;
    /* background-color: lightcoral; */
    padding:5px;
}

button{
    border: 0px none white;
    background-color:lightgrey;
    width: 5rem;
    padding:5px;
    border-radius: 10px;
}
button:active{
    background-color: darkgrey;
    border-style: outset;
}